<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Ne pas réécrire les appels à l'API
  RewriteCond %{REQUEST_URI} ^/api
  RewriteRule ^ - [L]

  # Laisser les fichiers et dossiers réels
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Rediriger tout vers index.html (React)
  RewriteRule ^ index.html [L]
</IfModule>
